.artist-bg {
  background-image: url(../images/MortenHarket.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.artist-name {
  margin-top: 50px;
  margin-bottom: 16px;

  @media (max-width: 767px) {
    margin-top: 25px;
  }
}

.artist-btn {
  display: flex;
  align-items: center;

  width: 200px;
  height: 62px;
  padding: 20px 30px 20px 67px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;

  color: $white;
}

.play-btn {
  position: relative;
  background-color: $purple;

  &::before {
    position: absolute;

    background-image: url(../images/play-button.svg);
    left: 31px;
    width: 20px;
    height: 20px;
    content: "";
  }
}

.like-btn {
  position: relative;
  background-color: $red;

  &::before {
    position: absolute;

    background-image: url(../images/heart.svg);
    left: 31px;
    width: 20px;
    height: 20px;
    content: "";
  }
}
