.footer {
  background: linear-gradient(89.02deg, #5328a1 32.83%, #95390c 81.56%);

  .container {
    padding-left: 0;
    padding-right: 0;

    @media (max-width: 1240px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__top {
    display: flex;
    gap: 40px;
    padding-top: 62px;
    padding-bottom: 72px;
    @media (max-width: 1023px) {
      flex-wrap: wrap;
      width: 100%;
      gap: 30px;
    }
  }

  &__column {
    width: 25%;

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 50%;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__heading {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
  }

  &__link {
    color: $gray;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }

  &__bottom {
    border-top: solid 1px $white;
    padding-top: 40px;
    padding-bottom: 48px;
  }

  &__menu {
    display: flex;
    gap: 18px;

    @media (max-width: 767px) {
      gap: 16px;
      display: flex;
      flex-direction: column;
      margin-right: 16px;
    }
  }
}
