.header {
  position: absolute;

  top: 25px;

  width: 100%;

  @media (min-width: 1023px) and (max-width: 1280px) {
    .container {
      width: 1024px;
    }
  }

  @media (max-width: 1023px) {
    .flex-column-lg {
      flex-direction: column;
      align-items: flex-start;
    }

    .nav-lg {
      flex-direction: column;

      gap: 0;

      margin: 10px 0 18px 0;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1023px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__logo {
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    gap: 24px;
    margin-left: 90px;

    :first-child {
      color: $white;
    }
    a {
      color: $dark-gray;
      font-size: 11px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  &__search {
    width: 250px;
    height: 25px;

    padding: 5px 10px;
    border-style: none;
    border-radius: 50px;

    color: $white;

    text-transform: uppercase;

    background: $dark;

    outline: none;

    @media (max-width: 767px) {
      width: 100%;
    }

    @media (max-width: 1023px) {
      justify-content: flex-start;
    }
  }
}
