html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  position: relative;
  color: #cacaca;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  background: #08020d; }

h1,
h2,
h3,
h4 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase; }

h1 {
  font-size: 60px;
  line-height: 90px; }
  @media (min-width: 320px) and (max-width: 424px) {
    h1 {
      font-size: 30px;
      line-height: 45px; } }

h2 {
  font-size: 38px;
  line-height: 57px; }
  @media (min-width: 320px) and (max-width: 424px) {
    h2 {
      font-size: 18px;
      line-height: 27px; } }

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .container {
      max-width: 100%;
      padding-right: 20px;
      padding-left: 20px; } }
  @media (min-width: 425px) and (max-width: 767px) {
    .container {
      max-width: 100%;
      padding-right: 20px;
      padding-left: 20px; } }
  @media (min-width: 375px) and (max-width: 424px) {
    .container {
      max-width: 100%;
      padding-right: 20px;
      padding-left: 20px; } }
  @media (min-width: 320px) and (max-width: 374px) {
    .container {
      max-width: 100%;
      padding-right: 20px;
      padding-left: 20px; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

.text-white {
  color: #fff; }

.fz-11 {
  font-size: 11px; }

.fz-16 {
  font-size: 16px; }

.fz-30 {
  font-size: 30px; }

.fz-60 {
  font-size: 60px; }

.lh-60 {
  line-height: 60px; }

.w-50 {
  width: 50%; }

.mw-100 {
  max-width: 100%; }

.gap-24 {
  gap: 24px; }

.gap-50 {
  gap: 50px; }

@media (max-width: 1023px) {
  .order-lg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; } }

@media (max-width: 1023px) {
  .mobile-width-lg {
    width: 100%; } }

@media (max-width: 1023px) {
  .mobile-lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0; } }

.btn {
  padding: 20px 30px;
  border-radius: 5px; }

.btn-download {
  padding: 17px 40px;
  border: none;
  border-radius: 32px;
  font-size: 12.8px;
  color: #fff;
  font-weight: normal;
  background-color: #95390c; }

.padding-vertical-200 {
  padding: 200px 0 200px; }

.padding-vertical-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.pt-45 {
  padding-top: 45px; }

.pt-65 {
  padding-top: 65px; }

.pt-80 {
  padding-top: 80px; }

.pt-100 {
  padding-top: 100px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-25 {
  padding-bottom: 25px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-50 {
  padding-bottom: 50px; }

.mt-48 {
  margin-top: 48px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.mt-14 {
  margin-top: 14px; }

.mr-16 {
  margin-right: 16px; }

.mr-20 {
  margin-right: 20px; }

.mr-24 {
  margin-right: 24px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-48 {
  margin-bottom: 48px; }

.mb-18 {
  margin-bottom: 18px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-45 {
  margin-bottom: 45px; }

.mb-100 {
  margin-bottom: 100px; }

.header {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1023px) {
      .header__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }
  .header__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 91px; }
    @media (max-width: 1023px) {
      .header__main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 0; } }
  .header__logo {
    gap: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px; }
    .header__menu :first-child {
      color: #fff; }
    .header__menu a {
      color: #cacaca;
      font-size: 11px;
      text-transform: uppercase;
      text-decoration: none; }
    @media (max-width: 1023px) {
      .header__menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 0;
        margin: 10px 0 18px 0; } }
  .header__search {
    width: 250px;
    height: 25px;
    padding: 5px 10px;
    border-style: none;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    background: #3c3b3d;
    outline: none; }
    @media (max-width: 1023px) {
      .header__search {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    @media (max-width: 767px) {
      .header__search {
        width: 100%; } }

.section-bg {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .subscription__title {
    width: 100%; }
    @media (max-width: 767px) {
      .subscription__title {
        margin-top: 48px; } }
  .subscription__subtitle {
    width: 100%;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .subscription__subtitle {
        margin-bottom: 16px; } }
  .subscription__text {
    font-size: 16px;
    margin-bottom: 16px;
    color: #fff; }
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 570px; }
  .subscription__input {
    min-width: 270px;
    height: 50px;
    margin-bottom: 1.5rem;
    padding-left: 20px;
    border: 2px solid #cacaca;
    border-radius: 3px;
    color: #cacaca;
    font-size: 14px;
    background: none;
    outline: none; }
    @media (max-width: 767px) {
      .subscription__input {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        width: 100%; } }
    .subscription__input::-webkit-input-placeholder {
      color: #fff; }
    .subscription__input:-ms-input-placeholder {
      color: #fff; }
    .subscription__input::-ms-input-placeholder {
      color: #fff; }
    .subscription__input::placeholder {
      color: #fff; }
  .subscription__btn {
    width: 100%;
    height: 57px;
    border: none;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #34c176;
    outline: none; }

.bg-free {
  background-image: url(../images/subscribe_1.png); }

.bg-standard {
  background-image: url(../images/subscribe_2.png); }

.bg-premium {
  background-image: url(../images/subscribe_3.png); }

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 767px) {
    .pricing {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      gap: 50px; } }
  .pricing__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30.5%;
    padding: 1.5rem;
    border-radius: 1rem;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .pricing__item {
        width: 32%; } }
    @media (min-width: 425px) and (max-width: 767px) {
      .pricing__item {
        width: 80%; } }
    @media (min-width: 375px) and (max-width: 424px) {
      .pricing__item {
        width: 99.5%; } }
    @media (min-width: 320px) and (max-width: 374px) {
      .pricing__item {
        width: 100%; } }
  .pricing__title {
    margin-bottom: 200px;
    color: #fff;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase; }
    @media (max-width: 424px) {
      .pricing__title {
        font-size: 16px;
        line-height: 24px; } }
  .pricing .price {
    line-height: 1em;
    font-size: 64px;
    margin-right: 16px; }
  .pricing__value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase; }
  .pricing__button {
    height: 66px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    margin-bottom: 65px;
    text-decoration: none; }
  .pricing__footer {
    margin-bottom: 40px;
    font-size: 12.8px;
    line-height: 1.5;
    text-align: center; }
  .pricing__description {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 40px; }
    @media (max-width: 767px) {
      .pricing__description {
        margin-top: 0; } }

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px; }
  @media (max-width: 1023px) {
    .news__item {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.news__image {
  width: 50%; }
  @media (max-width: 1023px) {
    .news__image {
      width: 100%; } }

.news__body {
  width: 50%; }
  @media (max-width: 1023px) {
    .news__body {
      width: 100%; } }

.news__title {
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .news__title {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px; } }

.news__text {
  color: #cacaca;
  font-size: 16px;
  line-height: 28px; }

.news__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  font-size: 12.8px;
  line-height: 19px; }

.news__author {
  color: #f89202;
  text-transform: uppercase; }

.news__button {
  width: 135px;
  height: 53px;
  padding: 16px 30px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  color: #8c8c8c;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }

.bg-gradient {
  background: linear-gradient(89.02deg, #5328a1 32.83%, #95390c 81.56%); }

.footer {
  padding-top: 3rem;
  padding-bottom: 2rem; }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1023px) {
      .footer__wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%; } }
  .footer__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 25%; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .footer__column {
        width: 50%; } }
    @media (max-width: 767px) {
      .footer__column {
        width: 100%; } }
  .footer__heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase; }
  .footer__link {
    color: #e0e0e0;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none; }
  .footer__menu {
    gap: 16px;
    padding-top: 30px; }
    @media (max-width: 767px) {
      .footer__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }

.artist-bg {
  background-image: url(../images/MortenHarket.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.artist-name {
  margin-top: 50px;
  margin-bottom: 16px; }
  @media (max-width: 767px) {
    .artist-name {
      margin-top: 25px; } }

.artist-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 62px;
  padding: 20px 30px 20px 30px;
  font-size: 12.8px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  color: #fff;
  display: flex;
  gap: 20px; }

.play-btn {
  position: relative;
  background-color: #5328a1; }
  .play-btn::before {
    position: relative;
    background-image: url(../images/play-button.svg);
    width: 20px;
    height: 20px;
    content: ""; }

.like-btn {
  position: relative;
  background-color: #95390c; }
  .like-btn::before {
    position: relative;
    background-image: url(../images/heart.svg);
    width: 20px;
    height: 20px;
    content: ""; }

.track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12.8px;
  line-height: 19.2px; }
  .track__cover {
    width: 55px;
    height: 55px;
    margin-right: 16px; }
  .track__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .track__title {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase; }

.album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .album__title {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    text-transform: capitalize; }
  .album__year {
    font-size: 16px;
    line-height: 24px;
    color: #e0e0e0; }
  .album__image {
    max-width: 100%;
    margin-bottom: 18px; }
    @media (max-width: 767px) {
      .album__image {
        width: 137px;
        height: 137px; } }

.track-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 25px; }
  @media (max-width: 767px) {
    .track-grid {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr; } }

.grid-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 25px; }
  @media (max-width: 767px) {
    .grid-4 {
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr; } }
/*# sourceMappingURL=app.css.map */