.track-grid {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(2, minmax(200px, 550px));
  grid-template-rows: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 25px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(137px, 250px));
  grid-template-rows: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 25px;

  @media (max-width: 767px) {
    justify-content: start;
    grid-template-columns: repeat(2, minmax(137px, 250px));
  }
}
