.track-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 50px;
  padding-right: 50px;
  row-gap: 25px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    padding-right: 0;
  }
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-right: 50px;
  column-gap: 50px;
  row-gap: 25px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    padding-right: 0;
  }
}
